{% extends 'main.html' %}
{% load static %}
    {% block head %}
        <style>
        body{
            height: 100vh;
            background-color: #000000;
            background-image: url("{% static 'images/mountains.jpg' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
    {% endblock %}

{% block content %}
<main>
    <section id="home">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
        Reprehenderit, voluptatibus.</p>
    </section>
</main>
{% endblock %}


