<!--HERE WILL BE SETTING THE OUTPUTS FOR FORMS-->
<!--FORMS ITSELF AND OTHER EXPERIMENT THINGS  -->



{% extends 'main.html' %}
{% load static %}


    <!--STATIC BODY IMAGE CHANGING-->
    {% block head %}
<style>
    body{
        height: 100vh;
        background-color: #000000;
        background-image: url("{% static 'images/darkgreen.png' %}");
        background-size: cover;
        background-position: center;
    }
</style>
<link rel="stylesheet" href="{% static 'styles/registration_form.css' %}">
    {% endblock %}


<!--TEMPORARY OUTPUT OF THE MODELS-->
    {% block content %}
<main>

    <h1 style="color: white; text-align: center">TESTING THE OUTPUT STUFF</h1>

    {% for user in users %}
    <ol style="color: white; text-align: left; font-size: 2rem; margin: 30px;">
    <li>{{ user.email }}</li>
    <li>{{ user.passwd }}</li>
        <hr>

    </ol>
        {% endfor %}





<!--<div class="container glass">-->

<!--<form method="get" name="form" class="form">-->
<!--    <input type="email" name="email"  placeholder="e-mail" class="email"><br>-->
<!--    <input type="password" name="passwd"  placeholder="password" class="password"><br>-->
<!--    <a href="/"><button type="submit" name="submit" class="submit">Submit</button></a>-->

<!--</form>-->
<!--</div>-->

</main>
    {% endblock %}


    {% block script %}
<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
</script>
    {% endblock %}