{% extends 'main.html' %}
{% load static %}


    <!--STATIC BODY IMAGE CHANGING-->
    {% block head %}
<style>
    body{
        height: 100vh;
        background-color: #000000;
        background-image: url("{% static 'images/mountains_blured.jpg' %}");
        background-size: cover;
        background-position: center;
    }
</style>
    {% endblock %}


    <!--SCRIPT FOR THE BUTTONS-->
    {% block script %}
<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
</script>
    {% endblock %}
